<div class="row">
    <div class="col-lg-12">
        <h1>Facilities</h1>
        <p class="lead">Here are the current facilities.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th># of Cameras</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Facilities.Count == 0)
                {
                    <tr>
                        <td colspan="2" class="text-center">No facilities found</td>
                    </tr>
                }
                else
                {
                    foreach (var facility in ViewBag.Facilities)
                    {
                        <tr data-facility-id="@facility.FacilityID">
                            <td><a href="/Cameras/Index/@facility.FacilityID" title="View Cameras"><span class="glyphicon glyphicon-search"></span></a></td>
                            <td>@facility.Name</td>
                            <td>@facility.Cameras.Count</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>