<div class="row">
    <div class="col-lg-12">
        <h1>Watch Points</h1>
        <p class="lead">Adding a new watch point for camera #@(ViewBag.Camera == null ? "unknown" : ViewBag.Camera.CameraId) at @(ViewBag.Camera == null ? "unknown" : ViewBag.Camera.Facility.Name)</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
    </div>
</div>