<div class="row">
    <div class="col-lg-12">
        <h1>Image Parameters</h1>
        <p class="lead">Here are the parameters for images.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <table class="table zebra-striped" >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.ImageParametersList.Count == 0)
                {
                    <tr>
                        <td colspan="2" class="text-center">No Records Found</td>
                    </tr>
                }
                else
                {
                    foreach (var imageParameters in ViewBag.ImageParametersList)
                    {
                        <tr data-image-parameters-id="@imageParameters.Id">
                            <td>@imageParameters.Name</td>
                            <td>@imageParameters.Description</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>